* {
    font-family: monospace;
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.haeufige_fragen, .produkte {
    align-items: center;
    display: flex;
    justify-content: center;
}

.haeufige_fragen img {
    max-width: 100%;
    margin-right: 20px;
}

.fragen {
    max-width: 600px;
}

.produkte {
    flex-direction: column;
}

.produkte h1,
.produkte p {
    margin-bottom: 20px;
}

.produkte ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.produkte li {
    text-align: center;
}

.produkte a {
    text-decoration: none;
}

.produkte img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#shop_titel {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.navigationsleiste {
    overflow: hidden;
}

.navigationsleiste a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationsleiste a:hover {
    background-color: #ddd;
    color: black;
}

.computer, .laptops {
    display: flex;
}

.computer div, .laptops div {
    flex: 33.33%;
    padding: 5px;
}