* {
    font-family: monospace;
    background-color: black;
    color: white;
}

.oben {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
}

.ueberschrift, .navigationsleiste {
    text-align: center;
}

.ueberschrift > a {
    text-decoration: none;
}

.navigationsleiste > a {
    text-decoration: none;
    padding: 10px;
}

.navigationsleiste > a:hover {
    background-color: white;
    color: black;
}

.unten {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.deals {
    display: flex;
    justify-content: center;
    margin-top: 8%;
}

.deal_1 {
    text-align: center;
}

.deals a {
    text-decoration: none;
}

.deals img {
    height: 90%;
}

.willkommen {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.willkommen > .nachricht {
    text-align: center;
}

.kontakt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.haeufige_fragen {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
}

.fragen > ul {
    list-style: none;
}

.computer, .laptops {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.computer > div, .laptops > div {
    flex: 1;
    text-align: center;
}

.produkte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produkte > div {
    text-align: center;
    margin: 10px;
}

.produkte a {
    text-decoration: none;
}

.produkte img {
    width: 25%;
}